<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Common Friends</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
    <h1>IDs of two friends</h1>
    <form method="POST">
        <label for="node_id1">Enter Node ID 1:</label>
        <input type="number" id="node_id1" name="node_id1" required>
        <label for="node_id2">Enter Node ID 2:</label>
        <input type="number" id="node_id2" name="node_id2" required>
        <button type="submit">Search</button>
    </form>
    </div>
</body>
</html>
